<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/Layout">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/MyStyle.css" th:href="@{/css/MyStyle.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<meta charset="UTF-8">
<title>Update Product</title>
</head>
<body>

<div class="container">
<div class="container text-center py-3">
        <button class="text-center btn btn-warning home">
        	<a th:href="@{/}">
        	 	<i class="fa-solid fa-house-user display-4">
              	</i>
            	</a>
         </button>
</div>
        <div class="add">
                <div class="container">
                        <div class="text-center add_prod">
                           <h1 class="h4 fw-bolder mb-3 py-3">Update Product</h1>
                        </div>
                    <form class="py-4"  th:action="@{/UpdateProduct}" method="POST" th:object="${produit}">
                       <div class="row mb-4 ">
                          <div class="col-lg-6">
                            <label>Reference</label>
                              <input type="text" th:field="*{reference}" readonly  class="form-control">
                            
                          </div>
                          <div class="col-lg-6">
                            <label>Designation</label>
                            <input type="text" th:field="*{designation}" class="form-control ">
                            <span th:errors=${produit.designation} class="text-danger"> </span>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-lg-6 form-group">
                            <label>prix</label>
                            <input type="number" th:field="*{prix}" class="form-control ">
                              <span th:errors=${produit.prix} class="text-danger"> </span>
                          </div>
                          <div class="col-lg-6">
                            <label>Quantite</label>
                            <input type="text" th:field="*{quantite}" class="form-control" >
                                <span th:errors=${produit.quantite} class="text-danger"> </span>
                          </div>
                        </div>
                        <!-- <div class="row">
                          <div class="col-lg-6">
                            <label>Id Client</label>
                             <select  class="custom-select custom-select-sm form-control-sm" >
                				 <option th:each="client :${list_client}" th:value="${client.idclient}" th:text="${client.idclient}"></option>
       						 </select>
                          </div>
                        </div> -->
                        <div class="text-center mt-4">
                                <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
                <div>
                </div>     
        </div>
    </div>

</body>
</html>
<script src="https://kit.fontawesome.com/c5bebe1cfa.js" crossorigin="anonymous"></script>